<%- include("header.ejs") -%>

<link rel="stylesheet" href="/about.css">
<h1>What makes Health Plus the right choice?</h1>
<img src="/images/features.png" class="mask">
<h1>Pics of the product</h1>
<div class="conatiner-fluid">
  <div class="row">
    <div class="col-4">
      <img src="/images/packet.jpeg" class="mask">
    </div>
    <div class="col-4">
      <img src="/images/realmask.jpeg" class="mask">
    </div>
    <div class="col-4">
      <img src="/images/fullmask.jpeg" class="mask">
    </div>
  </div>
</div>
<div class="conatiner-fluid">
  <div class="row">
    <div class="col-4">
      <img src="/images/cert.png" class="mask">
    </div>
    <div class="col-4">
      <img src="/images/cert copy.png" class="mask">
    </div>
    <div class="col-4">
      <img src="/images/cert copy 2.png" class="mask">
    </div>
  </div>
</div>
<h1>Glimpse of our manufacturing unit</h1>
<div class="container-fluid">
  <video controls>
    <source src="/images/factory.mp4" type="video/mp4">
  </video>
</div>

<section id="manufacture">
  <h1 class="manufacture">From the manufacturer's desk</h1>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="3000" data-hover>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h3><strong>"We provide you with the premium 5 layer mask that will provide you the best possible protection from all the infectious elements."</strong></h3>
      </div>
      <div class="carousel-item">
        <h3><strong>"Our products should not be confused with the ordinary anti-pollution mask, our product is the best in class anti-infectious particulate respirators."</strong></h3>
      </div>
      <div class="carousel-item">
        <h3><strong>"You can trust our mask for the security and welfare of you and your family without a doubt."</strong></h3>
      </div>
      <div class="carousel-item">
        <h3><strong>"The infectious disease does not discriminate between different sections of our society, and so does our mask. Our mask will give all the people an all round protection from the infections."</strong></h3>
      </div>
    </div>
  </div>
</section>
