<%- include("header.ejs") -%>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

<link rel="stylesheet" href="/contact.css">
<div class="contactus">
  <img src="/images/contact.jpeg" class="contact">
</div>


<div class="link">
  <a class="btn btn-primary btn-lg" href="https://www.indiamart.com/company/70826514/other-products.html#n95-mask" role="button">Buy Now</a>
</div>

<div class="contactus">
  <img src="/images/contact copy.jpeg" class="contact mki">
</div>

<script src="/contact.js" charset="utf-8"></script>
