<%- include("header.ejs") -%>

<div class="container-fluid about-cont">
  <img src="/images/about.png" class="about" alt="">
</div>

<div class="homemaskimg">
  <img src="/images/homemask.jpeg" class="homemask">
</div>

<section id="certificates">
  <h1 class="certificates">Our Certifications</h1>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="2000" data-hover>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/c1.png" class="certificates-img">
      </div>
      <div class="carousel-item">
        <img src="/images/c2.png" class="certificates-img">
      </div>
      <div class="carousel-item">
        <img src="/images/c3.png" class="certificates-img">
      </div>
      <div class="carousel-item">
        <img src="/images/c4.png" class="certificates-img">
      </div>
      <div class="carousel-item">
        <img src="/images/c5.png" class="certificates-img">
      </div>
    </div>
  </div>
</section>

<section id="manufacture">
  <h1 class="manufacture">Testimonials</h1>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="3000" data-hover>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h3><strong>"After using many N95 masks I can say with surety that this is one of the best masks."</strong></h3>
        <h5>~Sandeep Bajaj</h5>
        <h6>VP Marketing at TRADE BIZ WORLDWIDE, Kundli</h6>
      </div>
      <div class="carousel-item">
        <h3><strong>"I not only deal in selling these masks but I also personally prefer this masks for me and my family."</strong></h3>
        <h5>~Sandeep Aggarwal</h5>
        <h6>Distributor at M/S Shyam Sunder Ganesh Dass, Khari bawli</h6>
      </div>
      <div class="carousel-item">
        <h3><strong>"Though my primary usage of mask is in a hospital to prevent airborne infections, this can pretty well be used in extremely polluted cities like Delhi."</strong></h3>
        <h5>~Prince</h5>
        <h6>Dealer, Dwarka</h6>
      </div>
      <div class="carousel-item">
        <h3><strong>"I find this one to be soft and snugly fitting due to the presence of comfortable elastic bands. The lining around the mask fits snugly on nose."</strong></h3>
        <h5>~Pankaj Gupta</h5>
        <h6>Dealer, Tilak Nagar</h6>
      </div>
      <div class="carousel-item">
        <h3><strong>"Happy with my purchase, I involve in a lot of grinding and cutting work, a better mask compared to most out there."</strong></h3>
        <h5>~Shail Dhingra</h5>
        <h6>Consumer</h6>
      </div>
    </div>
  </div>
</section>
</body>

</html>
