<%- include("header.ejs") -%>

<link rel="stylesheet" href="/product.css">
<h1>Introducing to you our export quality...</h1>
<div class="fivelayer">
  3D protection mask meets the highest quality standards due to its fully automated production.
  The carbon filter in the square valve of this N95 mask ensures complete protection from dust,
  air pollution and germs.
</div>
<img src="/images/mask.png" class="mask">
<div class="fivelayer">
  The 5 Layer Health Plus N95 mask gives you the highest level of prtection from dust,
  pollutants and effectively filters contaminated particles and fine non-oily particles
  on inhalation and filters foam on exhalation. These 5 layered N95 masks maintain ease of
  breathing with proper ventilation and skin-friendly ultra-soft woven fabrics. All the
  5 layers are perfect to wear for long hours without fatigue.
</div>
<img src="/images/5layer.png" class="mask">
<h1>Quality Assured</h1>
<div class="quality">
  In the present health crisis, the demand for N95 masks have sky rocketed,
  which in turn has resulted in inferior quality N95 masks being available in the market. A decisive way to
  test the authenticity of a N95 mask is the 'Water Test'. To perform
  test just pour a cup of water into a N95 mask, if the water leaks, the mask is of inferior quality.
  This is important because N95 masks must have a waterproof layer to protect the wearer from
  splashes of biological fluids. Health Plus N95 masks are designed to maintain its structural and functional
  integrity making sure the filter material is not physically damaged of soiled during or after the water test.
</div>
<img src="/images/quality.jpeg" class="mask">
<h1>How it's made?</h1>
<div class="quality">
  Health Plus N95 is the protection you need from pollution, bacteria, dust and smog.
  This N95 mask has two layers of Melt Blown Filter to give you reliable respiratory protection
  with 99.2% - 99.7% Bacterial Filtration Efficiency.
  Adjustable nose grip and electrostatically charged microfiber makes it easy to wear for longer durations and gives ease of breathing.
</div>
<img src="/images/making.jpeg" class="mask">
<img src="/images/machine.jpeg" class="mask">
